org.jitsi.focus.pubsub.ADDRESS={{ jitsi_meet_domain }}
org.jitsi.jicofo.BRIDGE_MUC=jvbbrewery@internal-muc.{{ jitsi_meet_domain }}

org.jitsi.jicofo.jibri.BREWERY=JibriBrewery@internal-muc.{{ jitsi_meet_domain }}
org.jitsi.jicofo.jibri.PENDING_TIMEOUT=90

org.jitsi.jicofo.ALWAYS_TRUST_MODE_ENABLED=true
